@model MVCSTOKTAKIP.Models.Entity.TBL_Departman
@{
    ViewBag.Title = "YeniDepartman";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container">
        <h2>YENİ DEPARTMAN EKLEME</h2>
        <form method="post">
            <div class="form-group">
                <label for="email">DEPARTMAN</label>
                @Html.TextBoxFor(m=>m.DepartmanAD, new { @class="form-control"})
                @Html.ValidationMessageFor(m=>m.DepartmanAD, "", new { @style="color:Red; font-size:12px"})
            </div>
            @Html.HiddenFor(m=>m.DepartmanID)
            <button type="submit" class="btn btn-default">Departman Ekle</button>
        </form>
    </div>