
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MVC STOK TAKİP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MVC STOK</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Satis/Index">Satışlar</a></li>
                <li><a href="/Personel/Index">Personel</a></li>
                <li><a href="/Musteri/Index">Müşteri</a></li>
                <li><a href="/Urun/Index">Ürünler</a></li>
                <li><a href="/Departman/Index">Departman</a></li>
                <li><a href="/Kategori/Index">Kategori</a></li>
                <li><a href="/Marka/Index">Marka</a></li>
                <li><a href="/Admin/Index">Admin İşlemleri</a></li>
                <li>@Html.ActionLink("Çıkış", "logout", "Login")</li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
